<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Gaurang Bhasin</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<h1>
    Student at The University of Maryland
</h1>

<h2>Finance and Information Systems double major</h2>
   <h2>Robert H. Smith School of Business</h2>


<p>
    Gaurang Bhasin is a driven and goal-oriented individual who strives to be the best
    in his life-long endeavors. A current student at the <strong>University of Maryland</strong> double
    majoring in <em>Finance and Information Systems</em> his passion lies toward the everchanging
    <em>Artificial Intelligence landscape</em>. An incoming Risk Consultant for <strong>Ernst & Young</strong>,
    Gaurang is eager to start his career journey and bring change to one of the biggest
    industries in the world.

</p>

<p class ="italic">
    Some of Gaurang's hobbies include <em>going to the gym, playing video games and watching movies</em>.
    His favorite places to travel in America includes <strong>California, New York and Florida</strong>.
    Outside of America he likes visiting <strong>India</strong>. Gaurang also enjoys <em>reading novels</em>.

</p>

<p id ="special">
    Gaurang is hoping to get an MBA in the future from a top-15 school. He has currently set his eyes
    on Cornell and Columbia University since they are the closest schools to where he will be working
    in the near future.
</p>

<p>Gaurang's Favorite foods</p>
    <ul>
    <li>Pizza</li>
        <li>Fried Chicken</li>
        <li>Pasta</li>
        <li>Mangoes</li>
        <li>Apples</li>
</ul>
<!-- List is unordered meaning it is bulleted. -->

<p>Gaurang's Ranking of his Favorite Subjects</p>
<ol>
    <li>History</li>
    <li>Math</li>
    <li>Science</li>
    <li>English</li>
    <li>Lunch</li>
</ol>
<!-- list is ordered meaning it is numbered. -->

<table>
    <tr>
        <th>Course</th>
        <th>Semester</th>
    </tr>
    <tr>
        <td>BMGT302</td>
        <td>Spring 2021</td>
    </tr>
    <tr>
        <td>BMGT402</td>
        <td>Spring 2023</td>
    </tr>
    <tr>
        <td>BMGT407</td>
        <td>Spring 2024</td>
    </tr>
</table>
<!-- table has only information systems classes-->

    <p>

        A link to Gaurang's Hello Page: <a href="https://gbhasin.pythonanywhere.com/hello">https://gbhasin.pythonanywhere.com/hello</a>.
        A link to <a href="https://www.linkedin.com">Linkedin</a>.
        A link to <a href="https://www.indeed.com" target="_blank"> Indeed(New Tab)</a>.
    </p>

    <p>
        Smith Logo Picture
    </p>
    <img src = "https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png">
</body>
</html>